@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "conthrax";
  src: url(./assets/fonts/conthrax.otf);
}

@layer base {
  :root {
    --background: 208.97, 67.44%, 8.43%;
    --foreground: 0 0% 100%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 46.6, 89.21%, 47.25%;
    --primary-foreground: 0 0% 0%;
    --secondary: 47, 100%, 78%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    scroll-behavior: smooth;
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.font-raleway {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-fira {
  font-family: "Fira Code", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-conthrax {
  font-family: "conthrax", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
  clip-path: polygon(0 5%, 100% 0%, 100% 97%, 0% 100%);
}

@media screen and (max-width: 746px) {
  .container {
    clip-path: polygon(0 4%, 100% 0%, 100% 97%, 0% 100%);
  }
}
